    <%= form_for @post  do |f| %>
  </br>
  <div class="form-group">
     <%= f.text_area :title, class:'form-control', placeholder:'Tell us more about your project...', id: "exampleTextarea", rows: "3" %>
  </div>
  <br>
  <div class="form-group clearfix">
    <%= f.file_field :avatar, id:'uploadimage', class: 'form-control', style: 'width: 30%; float: right;' %>
  </div>
  </br>
  <div class="form-group clearfix">
    <%= f.submit id:'postbutton', class: 'btn btn-primary btn-lg float-end' %>
  </div>
<% end %> 
